body {
  margin: 30px;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: 'Gill Sans';
  src: url('/fonts/GillSans.ttc') format('ttc'),
}

@font-face {
  font-family: 'Iowan Old Style';
  src: url('/fonts/IowanOldStyle.ttc') format('ttc'),
}

.navbar {
    display: flex;
    margin-bottom: 50px
}

.nav-home {
    flex: 1;
    text-align: center;
    padding: 40px;
    background-color: white;
}

.nav-projects {
    flex: 1;
    text-align: center;
    padding: 40px;
    background-color: black;
}

.nav-title {
    flex: 1;
    text-align: center;
    padding: 40px;
    background-color: white;
}

.nav-home a {
    text-decoration: none;
    color: black;
    font-family: "Gill Sans", sans-serif;
    font-weight: bold;
    font-size: 24px;
}

.nav-projects a {
    text-decoration: none;
    color: white;
    font-family: "Gill Sans", sans-serif;
    font-weight: bold;
    font-size: 24px;
}

.nav-title a {
    text-decoration: none;
    color: white;
    font-family: "Gill Sans", sans-serif;
    font-weight: bold;
    font-size: 24px;
}

.nav-home:hover {
    background-color: black;
}

.nav-home:hover a {
    color: white;
}

.gallery {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.empty-column {
}

.image-column {
  display: flex;
  flex-direction: column;
}

.image-container {
  position: relative;
  width: 100%;
  overflow: hidden;
  margin-bottom: -10px;
}

.image-container img {
  width: 100%;
  height: auto;
}

.hover-box {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  display: none;
  align-items: center;
  justify-content: center;
  opacity: 0;
  color: white;
  font-size: 18px;
  font-family: Gill Sans;
  font-weight: Bold;
}

.link {
    text-decoration: none;
}

.image-container:hover .hover-box {
  display: flex;
  opacity: 1;
}