/* Global Reset */
body, h1, h2, h3, p, ul {
    margin: 0;
    padding: 0;
}

/* Global Styles */
body {
    margin: 10px;
    margin-top: 10px;
    padding: 20px;
    height: 100vh;
    background-color: white;
    color: black;
    font-family: "Iowan Old Style", sans-serif;
    font-size: 18px;
}

/* Fonts */
@font-face {
    font-family: 'Gill Sans';
    src: url('/fonts/GillSans.ttc') format('ttc');
}

@font-face {
    font-family: 'Iowan Old Style';
    src: url('/fonts/IowanOldStyle.ttc') format('ttc');
}

/* Footer */
.text-footer {
    font-size: 12px;
    font-weight: bold;
    font-family: 'Gill Sans';
    margin-bottom: -10px;
}

.copyright {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
}

.copyright p {
    margin: 5px;
}

/* Navigation Bar */
.navbar {
    display: flex;
    margin-bottom: 50px;
    justify-content: space-between;
    align-items: center;
}

.nav-home {
    flex: 1;
    text-align: center;
    padding: 40px;
    background-color: white;
    margin-left: -7.25px;
}

.nav-projects {
    flex: 1;
    text-align: center;
    padding: 40px;
    background-color: white;
    margin-left: -7.25px;
}

.nav-title {
    flex: 1;
    text-align: center;
    padding: 25.5px;
    background-color: black;
    color: white;
}

.nav-home a,
.nav-projects a,
.nav-title a {
    text-decoration: none;
    font-family: "Gill Sans", sans-serif;
    font-weight: bold;
    font-size: 24px;
    transition: background-color 0.3s, color 0.3s;
}

.nav-home:hover,
.nav-projects:hover {
    background-color: black;
    color: white;
}

/* Content Container */
.container {
    display: flex;
    flex-direction: row;
}

.text-column {
    flex: 1;
    padding: 20px;
    box-sizing: border-box;
    text-align: justify;
}

.caption {
    font-size: 16px;
    font-style: italic;
    margin-top: -15px;
    margin-bottom: 25px;
}

.keywords {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-top: -5px;
}

.keyword {
    background-color: black;
    color: white;
    padding: 10px;
    margin-right: 10px;
    margin-block: 5px;
    font-family: Gill Sans;
    font-weight: Bold;
    text-transform: uppercase;
    font-size: 16px;
}

.image-column {
    flex: 2.18;
    overflow: auto;
    box-sizing: border-box;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
    margin-bottom: 20px;
}

/* Media query for viewport widths below 1080px */
@media screen and (max-width: 1080px) {
    /* Prevent resizing of navigation bar */
    .navbar {
        min-width: 960px; /* Set a minimum width for the navigation bar */
    }
    
    .nav-home,
    .nav-projects,
    .nav-title {
        min-width: 256px; /* Set a minimum width for navigation bar items */
    }

    /* Prevent resizing of elements */
    .container {
        min-width: 965px; /* Set a minimum width for the container */
    }
}
