body {
    margin: 10px;
    margin-top: 10px;
    padding: 20px;
    height: 100vh;
    background-color: white;
    color: black;
    font-family: Iowan Old Style;
    font-size: 18px;
}

@font-face {
  font-family: 'Gill Sans';
  src: url('/fonts/GillSans.ttc') format('ttc'),
}

@font-face {
  font-family: 'Iowan Old Style';
  src: url('/fonts/IowanOldStyle.ttc') format('ttc'),
}

.text-footer {
    font-size: 12px;
    font-weight: bold;
    font-family: 'Gill Sans';
    margin-bottom: -10px;
}

.navbar {
    display: flex;
    margin-bottom: 50px;
    justify-content: space-between;
    align-items: center;
}

.nav-home {
    flex: 1;
    text-align: center;
    padding: 40px;
    background-color: white;
    margin-left: -7.25px;
}

.nav-projects {
    flex: 1;
    text-align: center;
    padding: 40px;
    background-color: white;
    margin-left: -7.25px;
}

.nav-title {
    flex: 1;
    text-align: center;
    padding: 25.5px;
    background-color: black;
}

.nav-home a {
    text-decoration: none;
    color: black;
    font-family: "Gill Sans", sans-serif;
    font-weight: bold;
    font-size: 24px;
}

.nav-projects a {
    text-decoration: none;
    color: black;
    font-family: "Gill Sans", sans-serif;
    font-weight: bold;
    font-size: 24px;
}

.nav-title a {
    text-decoration: none;
    color: white;
    font-family: "Gill Sans", sans-serif;
    font-weight: bold;
    font-size: 24px;
}

.nav-home:hover {
    background-color: black;
}

.nav-home:hover a {
    color: white;
}

.nav-projects:hover {
    background-color: black;
}

.nav-projects:hover a {
    color: white;
}

.container {
  display: flex;
  flex-direction: row;
}

.text-column {
    flex: 1;
    padding: 20px;
    box-sizing: border-box;
    text-align: justify;
}

.caption {
    font-size: 16px;
    font-style: italic;
    margin-top: -15px;
    margin-bottom: 25px;
}

.keywords {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-top: -5px;
}

.keyword {
    background-color: black;
    color: white;
    padding: 10px;
    margin-right: 10px;
    margin-block: 5px;
    font-family: Gill Sans;
    font-weight: Bold;
    text-transform: uppercase;
    font-size: 16px;
}

.image-column {
  flex: 2.18;
  overflow: auto;
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
  margin-bottom: 20px;
}

