body {
  margin: 10px;
  margin-top: 10px;
  padding: 20px;
  box-sizing: border-box;
  font-family: Lato, sans-serif;
}

.caption {
    font-size: 16px;
    font-family: Amiri;
}

.text-footer {
    font-size: 12px;
    font-weight: bold;
    font-family: Lato;
    margin-bottom: -10px;
    text-align: center;
}

.navbar {
    display: flex;
}

.nav-home {
    flex: 1;
    text-align: center;
    padding: 40px;
    background-color: black;
}

.nav-projects {
    flex: 1;
    text-align: center;
    padding: 40px;
    background-color: white;
}

.nav-title {
    flex: 1;
    text-align: center;
    padding: 40px;
    background-color: white;
}

.nav-home a {
    text-decoration: none;
    color: white;
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    font-size: 24px;
}

.nav-projects a {
    text-decoration: none;
    color: black;
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    font-size: 24px;
}

.nav-title a {
    text-decoration: none;
    color: white;
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    font-size: 24px;
}

.nav-projects:hover {
    background-color: black;
}

.nav-projects:hover a {
    color: white;
}

.image-container {
  display: flex;
  justify-content: flex-end;
}

.image-container img {
  margin-left: auto;
  max-width: 100%;
}

.text-heading {
    font-size: 36px;
    font-weight: bold;
}

.text-body {
    font-size: 18px;
    font-weight: bold;
    text-align: justify;
}

.links {
    display: flex;
    flex-direction: column;
}

.link {
    font-size: 24px;
    font-weight: bold;
    color: white;
    text-decoration: none;
    margin: 5px 0;
    background-color: white;
    color: black;
    padding: 10px;
    margin-right: 66.6%;
}

.link:hover {
    background-color: black;
    color: white;
}