body {
  margin: 10px;
  margin-top: 10px;
  padding: 20px;
  box-sizing: border-box;
  font-family: 'Gill Sans', sans-serif;
}

.navbar {
    display: flex;
    margin-bottom: 50px
}

.nav-home {
    flex: 1;
    text-align: center;
    padding: 40px;
    background-color: black;
}

.nav-projects {
    flex: 1;
    text-align: center;
    padding: 40px;
    background-color: white;
}

.nav-title {
    flex: 1;
    text-align: center;
    padding: 40px;
    background-color: white;
}

.nav-home a {
    text-decoration: none;
    color: white;
    font-family: "Gill Sans", sans-serif;
    font-weight: bold;
    font-size: 24px;
}

.nav-projects a {
    text-decoration: none;
    color: black;
    font-family: "Gill Sans", sans-serif;
    font-weight: bold;
    font-size: 24px;
}

.nav-title a {
    text-decoration: none;
    color: white;
    font-family: "Gill Sans", sans-serif;
    font-weight: bold;
    font-size: 24px;
}

.nav-projects:hover {
    background-color: black;
}

.nav-projects:hover a {
    color: white;
}

.image.container {
  display: flex;
  align-items: center;
}

.image-container img {
  width: 100px; /* Set the desired width */
  height: auto; /* Maintain the aspect ratio */
  margin-right: 10px; /* Add some spacing between the image and text */
}

.image-container p {
  margin: 0; /* Remove any default margin on the paragraph */
}

.content {
    text-align: left;
    background-color: white;
    color: black;
}

.body-text {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
}

.links {
    display: flex;
    flex-direction: column;
}

.link {
    font-size: 24px;
    font-weight: bold;
    color: white;
    text-decoration: none;
    margin: 5px 0;
    background-color: white;
    color: black;
    padding: 10px;
    margin-right: 66.6%;
}

.link:hover {
    background-color: black;
    color: white;
}

@media (max-width: 1080px) {
    .navbar {
        flex-direction: column;
        align-items: center;
    }

    .nav-home {
        flex: none;
        text-align: center;
        width: 100%;
    }
    
    .nav-projects {
        flex: none;
        text-align: center;
        width: 100%;
    }
    
    .nav-title {
        flex: none;
        text-align: center;
        width: 102.5%;
    }
    
    .link {
        margin-right: 0;
    }
    
    .body-text {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 20px;
    text-align: left;
    }